section.experience {
    position: relative;
    width: 100%;
    padding: 10px;


    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    h2 {
        margin: 1.2em 0 0.4em;
    }

    h4 {
        margin: 0;
    }

    span:not(:last-child)::after {
        content: "|";
        margin-left: 5px;
        margin-right: 5px;
    }
}